@model List<StellerAcunMedyaAkademiPortfolio.Models.TblTestimonial>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Referans Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Resim</th>
        <th>Ad Soyad</th>
        <th>Unvan</th>
        <th>Açıklama</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.TestimonialID</th>
            <td>@item.ImageURL</td>
            <td>@item.NameSurname</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td><a href="#" class="btn btn-danger">Sil</a></td>
            <td><a href="#" class="btn btn-success">Güncelle</a></td>
        </tr>

    }

</table>